/*
 * styles.css
 *
 * @author: Chopping Block (choppinblock.com)
 *
 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Open Sans", Arial, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Your styles go here */


/* CSS, which stands for cascading style sheets, are styles you set for your HTML components */
/* Everything has a default style  (think ugly) and here is how you can modify your style*/

/* class selection*/
.wrap{
	width:100%;
}
.container{
	max-width: 700px;
	position: relative;
	margin: 20px auto;
}

/* Id selection */
#content-content{
}

/* Tag selection */
div{
}

div.wrap{
}

.wrap p{
	font-family: "Open Sans", Arial, sans-serif;
	color: #000000;
	font-size: 14px;
	line-height: 1.2em;
}




/* APP CSS*/

/*chosen.js custom*/
.chosen-container {
	width: auto !important;
	min-width: 200px;
	text-align: center;
}

.chosen-container-single .chosen-single{
	padding: 0px 15px 6px 30px !important;
    color: #11a3d5;
    border-bottom: 5px solid #ccc;
    padding: 0.6em 20px 0.3em 0;
    cursor: pointer;
    transition: color 0.2s, border-color 0.2s;
}

.chosen-container .chosen-results li {
    line-height: 1.3em;
}

.chosen-container .chosen-results li.active-result {
    display: list-item;
    cursor: pointer;
    border-bottom: 1px solid #d7d7d7;
    padding: 10px 0px;

}
.chosen-container .chosen-results{
	max-height: 320px;
}

.chosen-container-active .chosen-single{
	box-shadow: none;
}

#dropdown1_chosen .active-result{
	border-right: 1px solid #d7d7d7;
	width:50%;
	float:left;
}

@media (max-width: 480px){
	#dropdown1_chosen .active-result{
		border-right: none;
		width:100%;

	}

	.sentence, .chosen-container {
		font-size: 1em;
	}

	#dropdown2_chosen .chosen-container {
	    width: 95% !important;
	    min-width: 200px;
	    text-align: center;

	}
    .term{
        height:250px;

    }

}

/*Graphic custom*/


#graphicContainer h2 {
	font-family: "Open Sans", Arial, sans-serif;
	color: #4c4e4d;
	font-size: 2.5em;
	text-align: center;
	font-weight: bold;
	margin-bottom: 30px;
}

.caption{
	clear: both;
	font-size: .8em;
    color: #4f7177;
    margin-bottom: 1.875em;
    margin-top: 1.875em;
    line-height: 1.5em;
}

/* d3 custom */

.circle{
    stroke-width:1px;
    stroke: #fff;
}

.y.axis line,
.y.axis path,
.x.axis line,
.x.axis path,
.x2.axis line,
.x2.axis path {
  fill: none;
  stroke: #ccc;
}

.y.axis path{
    stroke:none;
}

.axis text {
    font-family: "Open Sans",Helvetica, Arial, sans-serif;
    fill:#888;
    font-size: 12px;
}

.legend{
    margin: 25px 0px;
}

.legend-box{
    float:left;
    width:200px;
}

.legend img{
    float: left;
    width:50px;
}

.legend .caption{
    clear: none;
    margin-top: 0px;
    padding-left: 10px;
}


.legend-percent {
    z-index: -99;
  cursor-events:none;
  width:200px;
  position: absolute;
  padding-top: 75px;
  padding-left:50px;
}

.tooltip {
  opacity:0;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0;
  border: 1px solid #ccc;
  color: #888;
  font-size: 0.75em;
  line-height: 1.5em;
  padding: 0px 15px;
  margin:0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  width:250px;
}

.tooltip strong{
    font-weight: bold;
    text-transform: uppercase;
}

.annotations{
    fill:#525252;
    font-size: 12px;
}

.annotations path{
    stroke:#888;
}

.axislabel{
    fill:#4f7177;
    font-size:0.8em;
}


/*change colors for graphics here! */

.mentions{
  fill: #E5A451;
	stroke:#fff;
	stroke-width: 0.5px;

}
