/*custom styles*/
body{
	background-color: #fff;
	font-size: 15px;
}

h1, h2, h3, h4, h5, h6{
	font-family:"Caponi-Slab-Semibold","Proxima Nova",Helvetica,Arial,sans-serif;
	
}

p{
  font-family:'Proxima Nova', Helvetica, sans-serif;
}

#tweet_table th {
    text-align: left;
    font-weight: normal;
    color: #383838;
}

.tweet_header{width:65%;}
.date_header{width:20%;}
.link_header{width:15%;}

table tbody tr:nth-child(even) {
	background-color: #fff;
}
table tbody tr:nth-child(odd) {
	background-color: #fff;
}

th{
		border-bottom: 1px #ccc solid;
}

label {
    padding: 15px 0px;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    border-radius: 7px;
    margin: 0px 7px;
    height: 2.5em;
}

div.dataTables_wrapper div.dataTables_filter input {
    display: inline-block !important;
    width: auto !important;
    margin-bottom: 0;
    margin-left: 0.5em;
    margin: 0px 7px;
    height: 2.5em;
    border-radius: 7px;
}

a#table_previous {padding-right: 10px;}
a#table_next {padding-left: 10px;}
a.paginate_button {padding: 0px 5px;}
a#table_previous,
a#table_next,
a.paginate_button{
	font-weight: 500;
}
